<div class="navbar-brand">Persona</div>

<nav class="nav flex-column">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span>🏠 首页</span>
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="history">
            <span>📋 历史记录</span>
        </NavLink>
    </div>
</nav>
